
<div class="form-group col-sm-8 col-sm-offset-2 clearfix">
  <div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-sm-4">
            <div>
                <span>
                <img [src]="schoolAddress?.img" [alt]="schoolAddress?.school_name" [title]="schoolAddress?.school_name" class="img-responsive">
               </span>
              </div>
    </div>
  <div class="col-sm-8">
    <div class="panel panel-primary m-b-0">
      <div class="panel-heading">{{schoolAddress?.address_id}}</div>
      <div class="panel-body">
            <div>
              <div class="row">
                  <div class="col-sm-5 col-xs-6 form-group"><b>School Name:</b></div>
                  <div class="col-sm-7 col-xs-6 form-group">{{schoolAddress?.school_name}}</div>
                </div>
              <div class="row">
                  <div class="col-sm-5 col-xs-6 form-group"><b>Address Detail:</b></div>
                  <div class="col-sm-7 col-xs-6 form-group">{{schoolAddress?.address_detail}}</div>
                </div>
            </div>
            </div>
          </div>
          </div>
          </div>
          </div>
    </div>
  