
<section>
  <div class="form-group">
    <div class="alert alert-success strong-bold light-gray">Facility</div>
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="glyphicon pointer" (click)="libraryClick()" [ngClass]="{'glyphicon-plus':!activeLib, 'glyphicon-minus':activeLib}"></span> Library Facility</div>
      <div class="panel-body" *ngIf="activeLib">
        <div>
          <p>Government Inter College, Kotdwara was established in 1980 and it is managed by the Department of Education. It is located in Urban area. It is located in DUGADDA block of GARHWAL district of Uttarakhand. The school consists of Grades from 6 to 12. The school is Boys and it doesn't have an attached pre-primary section. The school is N/A in nature and is not using school building as a shift-school. Hindi is the medium of instructions in this school. This school is approachable by all weather road. In this school academic session starts in April.</p>
          <p>The school has Government building. It has got 3 classrooms for instructional purposes. All the classrooms are in good condition. It has 2 other rooms for non-teaching activities. The school has a separate room for Head master/Teacher. The school has Pucca boundary wall. The school has have electric connection. The source of Drinking Water in the school is Tap Water and it is functional. The school has 2 boys toilet and it is functional. and 0 girls toilet and it is functional. The school has a playground. The school has a library and has 2970 books in its library. The school does not need ramp for disabled children to access classrooms. The school has 11 computers for teaching and learning purposes and all are functional. The school is not having a computer aided learning lab. The school is Provided and Prepared in School Premises providing mid-day meal.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="glyphicon pointer" (click)="busClick()" [ngClass]="{'glyphicon-plus':!activeBus, 'glyphicon-minus':activeBus}"></span> Bus Facility</div>
      <div class="panel-body" *ngIf="activeBus">
        <div>
          <p>Government Inter College, Kotdwara was established in 1980 and it is managed by the Department of Education. It is located in Urban area. It is located in DUGADDA block of GARHWAL district of Uttarakhand. The school consists of Grades from 6 to 12. The school is Boys and it doesn't have an attached pre-primary section. The school is N/A in nature and is not using school building as a shift-school. Hindi is the medium of instructions in this school. This school is approachable by all weather road. In this school academic session starts in April.</p>
          <p>The school has Government building. It has got 3 classrooms for instructional purposes. All the classrooms are in good condition. It has 2 other rooms for non-teaching activities. The school has a separate room for Head master/Teacher. The school has Pucca boundary wall. The school has have electric connection. The source of Drinking Water in the school is Tap Water and it is functional. The school has 2 boys toilet and it is functional. and 0 girls toilet and it is functional. The school has a playground. The school has a library and has 2970 books in its library. The school does not need ramp for disabled children to access classrooms. The school has 11 computers for teaching and learning purposes and all are functional. The school is not having a computer aided learning lab. The school is Provided and Prepared in School Premises providing mid-day meal.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="glyphicon pointer" (click)="gameClick()" [ngClass]="{'glyphicon-plus':!activeGam, 'glyphicon-minus':activeGam}"></span> Game's Facility</div>
      <div class="panel-body" *ngIf="activeGam">
        <div>
          <p>Government Inter College, Kotdwara was established in 1980 and it is managed by the Department of Education. It is located in Urban area. It is located in DUGADDA block of GARHWAL district of Uttarakhand. The school consists of Grades from 6 to 12. The school is Boys and it doesn't have an attached pre-primary section. The school is N/A in nature and is not using school building as a shift-school. Hindi is the medium of instructions in this school. This school is approachable by all weather road. In this school academic session starts in April.</p>
          <p>The school has Government building. It has got 3 classrooms for instructional purposes. All the classrooms are in good condition. It has 2 other rooms for non-teaching activities. The school has a separate room for Head master/Teacher. The school has Pucca boundary wall. The school has have electric connection. The source of Drinking Water in the school is Tap Water and it is functional. The school has 2 boys toilet and it is functional. and 0 girls toilet and it is functional. The school has a playground. The school has a library and has 2970 books in its library. The school does not need ramp for disabled children to access classrooms. The school has 11 computers for teaching and learning purposes and all are functional. The school is not having a computer aided learning lab. The school is Provided and Prepared in School Premises providing mid-day meal.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><span class="glyphicon pointer" (click)="competitonClick()" [ngClass]="{'glyphicon-plus':!activeComp, 'glyphicon-minus':activeComp}"></span> Competiton Facility</div>
      <div class="panel-body" *ngIf="activeComp">
        <div>
          <p>Government Inter College, Kotdwara was established in 1980 and it is managed by the Department of Education. It is located in Urban area. It is located in DUGADDA block of GARHWAL district of Uttarakhand. The school consists of Grades from 6 to 12. The school is Boys and it doesn't have an attached pre-primary section. The school is N/A in nature and is not using school building as a shift-school. Hindi is the medium of instructions in this school. This school is approachable by all weather road. In this school academic session starts in April.</p>
          <p>The school has Government building. It has got 3 classrooms for instructional purposes. All the classrooms are in good condition. It has 2 other rooms for non-teaching activities. The school has a separate room for Head master/Teacher. The school has Pucca boundary wall. The school has have electric connection. The source of Drinking Water in the school is Tap Water and it is functional. The school has 2 boys toilet and it is functional. and 0 girls toilet and it is functional. The school has a playground. The school has a library and has 2970 books in its library. The school does not need ramp for disabled children to access classrooms. The school has 11 computers for teaching and learning purposes and all are functional. The school is not having a computer aided learning lab. The school is Provided and Prepared in School Premises providing mid-day meal.</p>
        </div>
      </div>
    </div>
  </div>
</section>
