<!--popup-->


<!--end-->

<section>
  <div class="row">
    <div class="clearfix col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Total Student ID: <span class="badge badge-success">{{students.length}}</span></div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
      <div class="form-group col-sm-12 clearfix">
      <div class="pull-left col-sm-8 plr-0">
        <input type="text" [(ngModel)]="listFilter" placeholder="Filter by Student ID" class="form-control" />
      </div>
      <div class="pull-right">
      <button type="button" class="btn btn-warning">Filter by Student ID</button>
      </div>
      </div>
    </div>
      <div class="col-sm-6">
          <div class="form-group col-sm-12 clearfix">
            <div class="pull-left">
                <button type="button" class="btn btn-primary" (click)="addStudentModal()">Add Another</button>
            </div>
            <div class="pull-right">
              <div class="btn-toolbar">
              <button type="button" class="btn btn-danger" (click)="gridClick()">Grid</button>
              <button type="button" class="btn btn-primary" (click)="viewClick()">View</button>
              </div>
              </div>
            </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let item of students | stulist:listFilter">
    <div *ngIf="grid" class="form-group col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <div>{{item.student_id}}</div>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <span *ngIf="item.gender==='Male'">
              <img [src]="user" [alt]="user" [title]="user" class="img-responsive">
            </span>
            <span *ngIf="item.gender==='Female'">
              <img [src]="girl" [alt]="girl" [title]="girl" class="img-responsive">
            </span>
          </div>
          <div class="form-group">
            <h4>{{item.first_name}} {{item.middle_name}} {{item.last_name}}</h4>
          </div>
          <div>
            <div class="clearfix">
              <button type="button" class="btn btn-md btn-info col-sm-5 pull-left" (click)="onClick(item.student_id)">View</button> &nbsp;
              <button type="button" class="btn btn-md btn-danger col-sm-6 pull-right" (click)="deleteStudent(item.student_id)">Delete</button>
            </div>
            <div *ngIf="!students">
              <div class="text-center">Data will be processing. Please wait...</div>
            </div>
            <div *ngIf="students && students.length==0">
              <div class="text-center">No record found.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!grid" class="col-sm-12">
    <div class="panel">
        <div class="panel-heading clearfix light-gray">
          <div class="col-sm-3">
            <div class="form-group">
              <span *ngIf="item.gender==='Male'">
                <img [src]="user" [alt]="user" [title]="user" class="img-responsive img-circle w-106">
              </span>
              <span *ngIf="item.gender==='Female'">
                <img [src]="girl" [alt]="girl" [title]="girl" class="img-responsive img-circle w-106">
              </span>
            </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <h3>{{item.student_id}} <span [ngClass]="{'text-success':item.gender==='Male', 'text-danger':item.gender==='Female'}" class="pull-right glyphicon glyphicon-check"></span><span class="clearfix"></span></h3>
                <p>{{item.first_name}} {{item.middle_name}} {{item.last_name}}</p>
                <p>{{item.gender}}</p>
              </div>
            </div>
        </div>
        </div>
      </div>
  </div>
  </div>
</section>
